*{
    margin:0;
    padding: 0;
}
body{
    background: url(hd3.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{width: 25%;
    padding-left: 10px;
    color: white;
    position: absolute;
    top: 27%;
    left: 60%;
    background: rgb(57, 56, 56);
    border-radius: 10px;
    
    

}
.container h1{
    font-size: 50px;
    font-family: serif;
    color: white;
    box-shadow: 10px 10px 10px 5px;
    border-bottom: 8px solid rgb(10, 18, 240);
    margin-bottom: 40px;
    padding: 5px 0;
    display: inline-block;
}
.box{
    width: 100%;
    border-bottom: 4px solid rgb(71, 73, 110) ;
   display: flex;
    margin-bottom: 10px;

}
.box :hover{
    cursor: pointer;
    
}
.box input{
    background: wheat;
    border: 20px solid blue;
    
    border-radius: 8px;
    
    font-weight: bold;
    color: rgb(225, 233, 235) solid ;
    width: 75%;
    margin: 2px 20px 0px 15px ;
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    
    
}
.box i{
    width: 0px;
    margin-right: 25px;
    padding-top: 15px;
    font-weight: bolder;
    font-size: large;
    color:  rgb(225, 233, 235);
}
.forgot{
    padding: 0;
    margin: 0px;
}
.forgot a{
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.forgot:hover {
    
    
    text-decoration: underline;
}
.forgot:hover a{
    background: none;
    color: blue;
}
.button{
    color: white;
    background: black;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    outline: none;
    width: 40%;
    margin: 12px 0;
    padding: 7px;
    border: 3px solid wheat;
    border-radius: 12px;
}
.button:hover{
    
    color: blue;
    background: white;
    box-shadow: 5px blue;
}
.btnside{
    margin-left: 40px;
    font-size: large ;
    font-weight: bold;
}
.link{
    display: flex;
}
 .face,.insta{
   cursor: pointer;
   width: 100%;
   height: 40px;
   line-height: 55px;
   margin-top: 15px;
   text-align: center;
   

}
.link .face{
    background: rgb(36, 36, 108);
    margin-left: 10px;

   
}
.link .insta{
    background: rgb(208, 40, 40);
    margin-left: 10px;

    
}
.insta i{
font-size: 2rem;
font-weight: bolder;
justify-items: center;
}
.face i{
    font-size: 2rem;
    font-weight: bolder;
    
    }